<%-include('./partials/head')%>
<body>
    <%-include('./partials/navigation')%>
    <section>
<img class="item" src="<%=galleryItem[0].download_url%>" alt="">
<h2><%=galleryItem[0].author%></h2>

    </section>



</body>
</html>